:root,
:root::before,
:root::after {
	--transition-time: 0.3s;
	--header-height: 72px;

	--font-poppins: Poppins, system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	--font-montserrat: "Montserrat", system-ui, -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
		sans-serif;

	--theme-white: #ffffff;
	--theme-black: #090909;
	--theme-purple: #7e48c9;
	--theme-green: #7ee787;
	--theme-red: #ffa28b;
	--theme-blue: #939aff;
	--theme-yellow: #edcf63;
	--theme-cyan: #87d4ff;
	--theme-pink: #b363c7;
	--theme-grey: #7d8590;
	--theme-light-grey: #c4c4c4;
	--theme-black: #0c1015;
	--theme-white: #ffffff;
	--accent-color: var(--theme-black);
}

:root,
:root::before,
:root::after {
	--color-purple: #8270db;
	--color-purple-100: #f3f0ff;
	--color-purple-200: #d5cff5;
	--color-purple-300: #b8acf6;
	--color-purple-400: #9f8fef;
	--color-purple-500: #8f7ee7;
	--color-purple-600: #8270db;
	--color-purple-700: #6e5dc6;
	--color-purple-800: #5e4db2;
	--color-purple-900: #352c63;
	--color-purple-1000: #2b273f;

	--color-blue: #1d7afc;
	--color-blue-100: #e9f2ff;
	--color-blue-200: #cce0ff;
	--color-blue-300: #85b8ff;
	--color-blue-400: #579dff;
	--color-blue-500: #388bff;
	--color-blue-600: #1d7afc;
	--color-blue-700: #0c66e4;
	--color-blue-800: #0055cc;
	--color-blue-900: #09326c;
	--color-blue-1000: #1c2b41;

	--color-magenta: #8f3b76;
	--color-magenta-100: #ffecf8;
	--color-magenta-200: #fdd0ec;
	--color-magenta-300: #f797d2;
	--color-magenta-400: #e774bb;
	--color-magenta-500: #e774bb;
	--color-magenta-600: #cd519d;
	--color-magenta-700: #562347;
	--color-magenta-800: #481e3b;
	--color-magenta-900: #39182f;
	--color-magenta-1000: #2b1223;

	--color-green: #22a06b;
	--color-green-100: #dcfff1;
	--color-green-200: #baf3db;
	--color-green-300: #7ee2b8;
	--color-green-400: #4bce97;
	--color-green-500: #2abb7f;
	--color-green-600: #22a06b;
	--color-green-700: #1f845a;
	--color-green-800: #216e4e;
	--color-green-900: #164b35;
	--color-green-1000: #164b35;

	--color-yellow: #b38600;
	--color-yellow-100: #fff7d6;
	--color-yellow-200: #f8e6a0;
	--color-yellow-300: #f5cd47;
	--color-yellow-400: #e2b203;
	--color-yellow-500: #cf9f02;
	--color-yellow-600: #b38600;
	--color-yellow-700: #946f00;
	--color-yellow-800: #7f5f01;
	--color-yellow-900: #533f04;
	--color-yellow-1000: #332e1b;

	--color-red: #e2483d;
	--color-red-100: #ffeceb;
	--color-red-200: #ffd5d2;
	--color-red-300: #fd9891;
	--color-red-400: #f87168;
	--color-red-500: #f15b50;
	--color-red-600: #e2483d;
	--color-red-700: #c9372c;
	--color-red-800: #ae2e24;
	--color-red-900: #5d1f1a;
	--color-red-1000: #42221f;

	--color-lime: #6a9a23;
	--color-lime-100: #dcfff1;
	--color-lime-200: #d3f1a7;
	--color-lime-300: #b3df72;
	--color-lime-400: #94c748;
	--color-lime-500: #82b536;
	--color-lime-600: #6a9a23;
	--color-lime-700: #5b7f24;
	--color-lime-800: #4c6b1f;
	--color-lime-900: #37471f;
	--color-lime-1000: #28311b;

	--color-orange: #e56910;
	--color-orange-100: #fff3eb;
	--color-orange-200: #fedec8;
	--color-orange-300: #fec195;
	--color-orange-400: #fea362;
	--color-orange-500: #f38a3f;
	--color-orange-600: #e56910;
	--color-orange-700: #c25100;
	--color-orange-800: #a54800;
	--color-orange-900: #702e00;
	--color-orange-1000: #38291e;

	--color-teal: #2898bd;
	--color-teal-100: #e7f9ff;
	--color-teal-200: #e7f9ff;
	--color-teal-300: #9dd9ee;
	--color-teal-400: #6cc3e0;
	--color-teal-500: #42b2d7;
	--color-teal-600: #2898bd;
	--color-teal-700: #227d9b;
	--color-teal-800: #206a83;
	--color-teal-900: #164555;
	--color-teal-1000: #1e3137;

	--color-natural: #8590a2;
	--color-natural-000: #ffffff;
	--color-natural-100: #f7f8f9;
	--color-natural-200: #f1f2f4;
	--color-natural-300: #dcdfe4;
	--color-natural-400: #b3b9c4;
	--color-natural-500: #8590a2;

	--color-dark-natural: #161a1d;
	--color-dark-natural-500: #596773;
	--color-dark-natural-400: #454f59;
	--color-dark-natural-300: #2c333a;
	--color-dark-natural-200: #22272b;
	--color-dark-natural-100: #1d2125;
	--color-dark-natural-000: #161a1d;
	--color-dark-natural-og: #000000;

	--color-cloud: #e8edf1;
	--color-ink: #4f5e71;
}
